<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowTokenPattern</key>
	<string>\w`</string>
	<key>indentTrigger</key>
	<array>
		<string>{</string>
		<string>[</string>
		<string>(</string>
	</array>
	<key>deindentTrigger</key>
	<array>
		<string>}</string>
		<string>]</string>
		<string>)</string>
	</array>
	<key>syntaxGroups</key>
	<array>
		<dict>
			<key>description</key>
			<string>Keyword</string>
			<key>type</key>
			<string>keyword</string>
			<key>isRegex</key>
			<false/>
			<key>isIgnoreCase</key>
			<false/>
			<key>isMultiple</key>
			<false/>
			<key>syntaxes</key>
			<array>
				<dict>
					<key>string</key>
					<string>nil</string>
				</dict>
				<dict>
					<key>string</key>
					<string>true</string>
				</dict>
				<dict>
					<key>string</key>
					<string>false</string>
				</dict>
				<dict>
					<key>string</key>
					<string>aaaaa</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>Comment</string>
			<key>type</key>
			<string>comment</string>
			<key>isRegex</key>
			<false/>
			<key>isIgnoreCase</key>
			<false/>
			<key>isMultiple</key>
			<true/>
			<key>syntaxes</key>
			<array>
				<dict>
					<key>open</key>
					<string>/*</string>
					<key>close</key>
					<string>*/</string>
				</dict>
				<dict>
					<key>open</key>
					<string>/+</string>
					<key>close</key>
					<string>+/</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>Comment</string>
			<key>type</key>
			<string>comment</string>
			<key>isRegex</key>
			<false/>
			<key>isIgnoreCase</key>
			<false/>
			<key>isMultiple</key>
			<false/>
			<key>syntaxes</key>
			<array>
				<dict>
					<key>open</key>
					<string>//</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>String</string>
			<key>type</key>
			<string>string</string>
			<key>isRegex</key>
			<false/>
			<key>isIgnoreCase</key>
			<false/>
			<key>isMultiple</key>
			<true/>
			<key>syntaxes</key>
			<array>
				<dict>
					<key>open</key>
					<string>&quot;&quot;&quot;</string>
					<key>close</key>
					<string>&quot;&quot;&quot;</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>String</string>
			<key>type</key>
			<string>string</string>
			<key>isRegex</key>
			<false/>
			<key>isIgnoreCase</key>
			<false/>
			<key>isMultiple</key>
			<false/>
			<key>syntaxes</key>
			<array>
				<dict>
					<key>open</key>
					<string>&quot;</string>
					<key>close</key>
					<string>&quot;</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
