<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>textDocument</key>
	<dict>
		<key>codeAction</key>
		<dict>
			<key>codeActionLiteralSupport</key>
			<dict>
				<key>codeActionKind</key>
				<dict>
					<key>valueSet</key>
					<array>
						<string></string>
						<string>quickfix</string>
						<string>refactor</string>
						<string>refactor.extract</string>
						<string>refactor.inline</string>
						<string>refactor.rewrite</string>
						<string>source</string>
						<string>source.organizeImports</string>
					</array>
				</dict>
			</dict>
			<key>dynamicRegistration</key>
			<false/>
			<key>isPreferredSupport</key>
			<false/>
		</dict>
		<key>completion</key>
		<dict>
			<key>completionItem</key>
			<dict>
				<key>commitCharactersSupport</key>
				<false/>
				<key>deprecatedSupport</key>
				<true/>
				<key>documentationFormat</key>
				<array>
					<string>plaintext</string>
				</array>
				<key>preselectSupport</key>
				<true/>
				<key>snippetSupport</key>
				<false/>
			</dict>
			<key>completionItemKind</key>
			<dict>
				<key>valueSet</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>7</integer>
					<integer>8</integer>
					<integer>9</integer>
					<integer>10</integer>
					<integer>11</integer>
					<integer>12</integer>
					<integer>13</integer>
					<integer>14</integer>
					<integer>15</integer>
					<integer>16</integer>
					<integer>17</integer>
					<integer>18</integer>
					<integer>19</integer>
					<integer>20</integer>
					<integer>21</integer>
					<integer>22</integer>
					<integer>23</integer>
					<integer>24</integer>
					<integer>25</integer>
				</array>
			</dict>
			<key>contextSupport</key>
			<false/>
			<key>dynamicRegistration</key>
			<false/>
		</dict>
		<key>declaration</key>
		<dict>
			<key>dynamicRegistration</key>
			<false/>
			<key>linkSupport</key>
			<false/>
		</dict>
		<key>definition</key>
		<dict>
			<key>dynamicRegistration</key>
			<false/>
			<key>linkSupport</key>
			<false/>
		</dict>
		<key>documentHighlight</key>
		<dict>
			<key>dynamicRegistration</key>
			<false/>
		</dict>
		<key>documentSymbol</key>
		<dict>
			<key>dynamicRegistration</key>
			<false/>
			<key>hierarchicalDocumentSymbolSupport</key>
			<false/>
			<key>symbolKind</key>
			<dict>
				<key>valueSet</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>7</integer>
					<integer>8</integer>
					<integer>9</integer>
					<integer>10</integer>
					<integer>11</integer>
					<integer>12</integer>
					<integer>13</integer>
					<integer>14</integer>
					<integer>15</integer>
					<integer>16</integer>
					<integer>17</integer>
					<integer>18</integer>
					<integer>19</integer>
					<integer>20</integer>
					<integer>21</integer>
					<integer>22</integer>
					<integer>23</integer>
					<integer>24</integer>
					<integer>25</integer>
					<integer>26</integer>
				</array>
			</dict>
		</dict>
		<key>hover</key>
		<dict>
			<key>contentFormat</key>
			<array>
				<string>plaintext</string>
			</array>
			<key>dynamicRegistration</key>
			<false/>
		</dict>
		<key>implementation</key>
		<dict>
			<key>dynamicRegistration</key>
			<false/>
			<key>linkSupport</key>
			<false/>
		</dict>
		<key>publishDiagnostics</key>
		<dict>
			<key>relatedInformation</key>
			<false/>
			<key>tagSupport</key>
			<dict>
				<key>valueSet</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
			<key>versionSupport</key>
			<false/>
		</dict>
		<key>rangeFormatting</key>
		<dict>
			<key>dynamicRegistration</key>
			<false/>
		</dict>
		<key>references</key>
		<dict>
			<key>dynamicRegistration</key>
			<false/>
		</dict>
		<key>rename</key>
		<dict>
			<key>dynamicRegistration</key>
			<false/>
			<key>prepareSupport</key>
			<false/>
		</dict>
		<key>selectionRange</key>
		<dict>
			<key>dynamicRegistration</key>
			<false/>
		</dict>
		<key>synchronization</key>
		<dict>
			<key>didSave</key>
			<false/>
			<key>dynamicRegistration</key>
			<false/>
			<key>willSave</key>
			<false/>
			<key>willSaveWaitUntil</key>
			<false/>
		</dict>
		<key>typeDefinition</key>
		<dict>
			<key>dynamicRegistration</key>
			<false/>
			<key>linkSupport</key>
			<false/>
		</dict>
	</dict>
	<key>window</key>
	<dict>
		<key>workDoneProgress</key>
		<false/>
	</dict>
	<key>workspace</key>
	<dict>
		<key>applyEdit</key>
		<true/>
		<key>didChangeConfiguration</key>
		<dict>
			<key>dynamicRegistration</key>
			<false/>
		</dict>
		<key>didChangeWatchedFiles</key>
		<dict>
			<key>dynamicRegistration</key>
			<false/>
		</dict>
		<key>executeCommand</key>
		<dict>
			<key>dynamicRegistration</key>
			<false/>
		</dict>
		<key>symbol</key>
		<dict>
			<key>dynamicRegistration</key>
			<false/>
			<key>symbolKind</key>
			<dict>
				<key>valueSet</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>7</integer>
					<integer>8</integer>
					<integer>9</integer>
					<integer>10</integer>
					<integer>11</integer>
					<integer>12</integer>
					<integer>13</integer>
					<integer>14</integer>
					<integer>15</integer>
					<integer>16</integer>
					<integer>17</integer>
					<integer>18</integer>
					<integer>19</integer>
					<integer>20</integer>
					<integer>21</integer>
					<integer>22</integer>
					<integer>23</integer>
					<integer>24</integer>
					<integer>25</integer>
					<integer>26</integer>
				</array>
			</dict>
		</dict>
		<key>workspaceEdit</key>
		<dict>
			<key>documentChanges</key>
			<true/>
			<key>failureHandling</key>
			<string>transactional</string>
			<key>resourceOperations</key>
			<array>
				<string>create</string>
				<string>rename</string>
				<string>delete</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
